In [2]:
import pandas as pd
import numpy as np
from sklearn.naive_bayes import BernoulliNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import mean_squared_error, r2_score
import matplotlib.pyplot as plt

df = pd.read_csv("C:/Users/miguel.postigo/Desktop/carpeta/programacion/python/linkedin/esencial/base_datos_2008.csv")
#[]
df = df.sample(frac = 1)
df = df.head(500000)

In [3]:
df = df.dropna(subset = ["ArrDelay"])

In [4]:
#VARIABLE RESPUESTA/INDEPENDIENTE
Y = df["ArrDelay"] > 0

In [6]:
df["Month"] = df["Month"].apply(str)
df["DayofMonth"] = df["DayofMonth"].apply(str)
df["DayOfWeek"] = df["DayOfWeek"].apply(str)
df["TailNum"] = df["TailNum"].apply(str)

X = pd.get_dummies(data = df[["Month","DayofMonth","DayOfWeek","TailNum","Origin","Dest","UniqueCarrier"]])

In [8]:
X.head()

,Month_1,Month_10,Month_11,Month_12,Month_2,Month_3,Month_4,Month_5,Month_6,Month_7,...,UniqueCarrier_HA,UniqueCarrier_MQ,UniqueCarrier_NW,UniqueCarrier_OH,UniqueCarrier_OO,UniqueCarrier_UA,UniqueCarrier_US,UniqueCarrier_WN,UniqueCarrier_XE,UniqueCarrier_YV
1274786,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4764069,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3343103,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4355840,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4205871,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [11]:
clf = BernoulliNB()
#clf = MultinomialNB()
clf.fit(X, Y)
Y_pred = clf.predict(X)

In [12]:
np.mean(Y == Y_pred)

0.5980924479433054

In [13]:
1 - np.mean(Y)

0.5651849245285334

In [16]:
X = df[["AirTime","Distance","TaxiIn","TaxiOut","DepDelay"]] #DepDelay
clf = GaussianNB()
clf.fit(X, Y)
Y_pred = clf.predict(X)

In [17]:
np.mean(Y == Y_pred)

0.8056625081322603